<extend name="Public/layout" />

<block name="body">
    <div class="row toolbar">
        <div class="col-xs-12">
            <eq name="model.extend" value="1">
                <div class="tools">
                    <a class="btn" href="{:U('edit', array('name'=>$name))}">新 增</a>
                    <button class="btn ajax-post confirm" target-form="ids" url="{:U('del?name='.$name)}">删 除</button>
                </div>
            </eq>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table">
        <empty name="custom_adminlist">
            <!-- 数据列表 -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                             <input class="check-all" type="checkbox">序号
                        </th>
                        <volist name="list_grid" id="vo">
                            <th>{$vo.title}</th>
                        </volist>
                    </tr>
                </thead>
                <tbody>
                    <volist name="_list" id="lv" key="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" value="{$lv.id}" name="ids[]">{$lv.id}</td>
                        <volist name="list_grid" id="lk">
                            <td>{:get_addon_adminlist_field($lv, $lk, $name)}</td>
                        </volist>
                    </tr>
                    </volist>
                </tbody>
            </table>
        <else />
            <present name="custom_adminlist">
                {$custom_adminlist}
            </present>
        </empty>
        <ul class="pager pager-loose pager-pills">{$_page}</ul>
    </div>
</block>
