<extend name="Public/layout" />

<block name="body">
    <form action="{:U('saveConfig')}" class="form" method="post">
        <empty name="custom_config">
            <include file="Public:formbuilder" /> <!-- 引入表单构建器 -->
        <else />
            <present name="custom_config">
                {$custom_config}
            </present>
        </empty>
        <input type="hidden" name="id" value="{:I('id')}" readonly>
        <button type="submit" class="btn btn-primary submit ajax-post" target-form="form">确 定</button>
        <button class="btn return" onclick="javascript:history.back(-1);return false;">返 回</button>
    </form>
</block>
