<div class="modal fade" id="moveModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                <p class="modal-title">移动至</p>
            </div>
            <div class="modal-body">
                <form action="{:U('Category/move')}" method="post" class="form">
                    <div class="form-group">
                        <select name="to_cid" class="form-control">
                            <volist name="all_category" id="vo">
                                <option value="{$vo.id}">{$vo.title_show}</option>
                            </volist>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="ids">
                        <input type="hidden" name="from_cid" value="{$_GET.cid}">
                        <button class="btn btn-primary btn-block submit ajax-post" type="submit" target-form="form">确 定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
