<extend name="Public/layout"/>

<block name="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><i class="icon-location-arrow"></i></li>
            <li><a href="__ROOT__/">首页</a></li>
            <li><a href="{:U('')}">{$meta_title}</a></li>
        </ul>
    </div>
</block>

<block name="body">
    <section class="container main">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="thumbnail">
                    <img src="{$userinfo.avatar|get_cover='avatar'}">
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="">
                    <header>
                        <h1>{$userinfo.username}</h1>
                        <dl class="dl-horizontal">
                            <dt class="time">年龄：</dt><dd>{$userinfo.age}岁</dd>
                            <dt class="time">干支：</dt><dd>{$userinfo.gz}</dd>
                            <dt class="time">星座：</dt><dd>{$userinfo.xz}</dd>
                            <dt class="time">生肖：</dt><dd>{$userinfo.sx}</dd>
                            <dt class="time">最后登录：</dt><dd class="time">{$userinfo.last_login_time|friendly_date}</dd>
                        </dl>
                        <div class="alert alert-warning">签名：{$userinfo.summary}</div>
                    </header>
                </div>
            </div>
        </div>
    </section>
</block>
