<extend name="Public/layout"/>

<block name="body">
    <form action="__SELF__" method="post" class="form">
        <div class="form-group">
            <label class="item-label">标签名称<span class="check-tips">（标签名称）</span></label>
            <div class="controls">
                <input type="text" class="form-control" name="title" value="{$info.title|default=''}">
            </div>
        </div>
        <div class="form-group">
            <label class="item-label">排序<span class="check-tips">（用于显示的顺序）</span></label>
            <div class="controls">
                <input type="text" class="form-control" name="sort" value="{$info.sort|default=0}">
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn btn-primary submit ajax-post" type="submit" target-form="form">确 定</button>
            <button class="btn return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>
