<extend name="Public/layout"/>

<block name="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><i class="icon-location-arrow"></i></li>
            <li><a href="__ROOT__/">首页</a></li>
            <li><a href="{:U('')}">{$meta_title}</a></li>
        </ul>
    </div>
</block>

<block name="body">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="list-group">
                    <volist name="addon_list" id="vo">
                        <a href="{:U('Addon/weijia/name/'.$vo['name'])}" class="list-group-item">{$vo.title}</a>
                    </volist>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="alert alert-success alert-block with-icon">
                    <i class="icon-ok-sign"></i>
                    <div class="content"><strong>太好了!</strong> 一切已准备就绪。</div>
                </div>
            </div>
        </div>
    </div>
</block>
