<extend name="Public/layout"/>

<block name="body">
    <div class="row toolbar">
        <div class="col-xs-12">
            <ul class="nav nav-pills">
                <volist name="Think.config.CONFIG_GROUP_LIST" id="config_group">
                    <li class="<php>if($current_group == $key) echo 'active';</php>"><a href="{:u('group', array('group' => $key))}">{$config_group}</a></li>
                </volist>
            </ul>
        </div>
    </div>
    <form action="{:U('save')}" method="post" class="form">
        <include file="Public:formbuilder" /> <!-- 引入表单构建器 -->
        <div class="form-group">
            <div class="controls">
                <empty name="form_items">
                    <button type="submit" disabled class="btn submit disabled" target-form="form">确 定</button>
                <else/>
                    <button type="submit" class="btn btn-primary submit ajax-post" target-form="form">确 定</button>
                </empty>
                <button class="btn return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</block>
