<extend name="Public/layout"/>

<block name="body">
    <div class="data-table">
        <ul class="nav-pills nav">
            <volist name="volist" id="vo">
                <li class='<if condition="$key eq 0">active</if>'><a href="#reg{$key}" data-toggle="tab">{$vo.title}（{$vo.name}）</a></li>
            </volist>
        </ul>
        <div class="tab-content">
            <volist name="volist" id="vo">
                <div id="reg{$key}" class='tab-pane <if condition="$key eq 0">active</if>'>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>字段名</th>
                                <th class="hidden-xs">数据类型</th>
                                <th class="hidden-xs">默认值</th>
                                <th class="hidden-xs">允许非空</th>
                                <th class="hidden-xs">自动递增</th>
                                <th>备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="vo.fields" id="vo_field">
                                <tr>
                                    <td>{$vo_field.column_name}</td>
                                    <td class="hidden-xs">{$vo_field.column_type}</td>
                                    <td class="hidden-xs">{$vo_field.column_default}</td>
                                    <td class="hidden-xs">{$vo_field.is_nullable}</td>
                                    <td class="hidden-xs"><if condition="$vo_field.extra eq 'auto_increment'">是</if></td>
                                    <td>{$vo_field.column_comment}</td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
            </volist>
        </div>
    </div>
</block>
