<extend name="Public/layout"/>

<block name="body">
    <div class="container main">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{$info.title}</h3>
                    </div>
                    <div class="panel-body article">
                        <div class="article-title">
                            <h2 class="text-center">{$info.title}</h2>
                        </div>
                        <div class="article-info text-center margin-bottom">
                            发布时间：{$info.utime|time_format}
                            阅读：{$info.view}
                        </div>
                        <div class="article-body lazy margin-bottom">
                            <notempty name="info.abstract">
                                <section class="abstract">{$info.abstract}</section>
                            </notempty>
                            {$info.content|parse_content}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <!-- 侧边导航 -->
                <div class="list-group">
                    <corethink:category_list name="vo">
                        <a class="list-group-item <if condition='$vo.id eq $__CURRENT_CATEGORY__'>active</if>" href="{:U('Document/index', array('cid' => $vo['id']))}">
                            {$vo.title}
                        </a>
                    </corethink:category_list>
                </div>
            </div>
        </div>
    </div>
</block>
