<extend name="Public/layout"/>

<block name="body">
    <section class="container main">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <corethink:category_list name="vo" pid="$__CURRENT_CATEGORY__" group="$__CURRENT_CATEGORY_GROUP__">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{$vo.title}</h3>
                        </div>
                        <div class="panel-body">
                            <volist name="vo._child" id="vo_child">
                                <div class="col-xs-12 col-sm-6 margin-bottom padding-bottom border-bottom">
                                    <div class="media-left">
                                        <a href="#">
                                              <i style="color:<php>echo '#'.sprintf('%02X',rand(0,255)).sprintf('%02X',rand(0,255)).sprintf('%02X',rand(0,255));</php>"class="fa fa-2x {$vo_child.icon}"></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong><a href="{:U('Document/index', array('cid' => $vo_child['id']))}">{$vo_child.title}</a></strong> 
                                            <notempty name="vo_child.count_new_document"><span class="label label-dot label-danger"></span> ({$vo_child.count_new_document})</notempty>
                                        </h5>
                                        <div class="text">
                                            帖数 {$vo_child.count_sum_document} 回复数 {$vo_child.count_sum_comment}
                                        </div>
                                    </div>
                                </div>
                            </volist>
                        </div>
                    </div>
                </corethink:category_list>
            </div>
            <div class="col-xs-12 col-sm-3">
                <!-- 侧边导航 -->
                <div class="list-group">
                    <corethink:category_list name="vo">
                        <a class="list-group-item <if condition='$vo.id eq $__CURRENT_CATEGORY__'>active</if>" href="{:U('Document/index', array('cid' => $vo['id']))}">
                            {$vo.title}
                        </a>
                    </corethink:category_list>
                </ul>
            </div>
        </div>
    </section>
</block>
