<extend name="Public/layout"/>

<block name="body">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="list box">
                    <section class="items">
                        <corethink:category_list name="vo" pid="$__CURRENT_CATEGORY__">
                            <div class="panel">
                                <div class="panel-heading">{$vo.title}</div>
                                <div class="panel-body">
                                    <volist name="vo._child" id="vo_child">
                                        <div class="comment col-xs-12 col-sm-6">
                                            <span href="#" class="avatar">
                                                <i style="color:<php>echo '#'.sprintf('%02X',rand(0,255)).sprintf('%02X',rand(0,255)).sprintf('%02X',rand(0,255));</php>"
                                                class="{$vo_child.icon} icon-2x"></i>
                                            </span>
                                            <div class="content">
                                                <span class="author">
                                                <a href="#"><strong>{$vo_child.link}</strong></a>
                                                </span>
                                                <div class="text">
                                                    帖数
                                                </div>
                                            </div>
                                        </div>
                                    </volist>
                                </div>
                            </div>
                        </corethink:category_list>
                    </section>
                    <footer><ul class="pager pager-loose pager-pills">{$page}</ul></footer>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <nav class="menu menu-corethink" data-toggle="menu">
                    <!-- 侧边导航 -->
                    <ul class="nav nav-primary">
                        <corethink:category_list name="side_category">
                            <li class="show">
                                {$side_category.link}
                                <ul class="nav">
                                    <volist name="side_category._child" id="child_category">
                                        <li <php>if($child_category['id'] == $__CURRENT_CATEGORY__) echo 'class="active"';</php> >
                                            {$child_category.link}
                                        </li>
                                    </volist>
                                </ul>
                            </li>
                        </corethink:category_list>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</block>
